* text=auto
*.cs diff=csharp
*.unity text eol=lf merge=unityyamlmerge
*.prefab text eol=lf merge=unityyamlmerge
*.asset text eol=lf merge=unityyamlmerge
*.meta text eol=lf
*.png binary
*.jpg binary
*.wav binary
*.mp3 binary
